@charset "utf-8";

body {
	margin: 0;
	font-family: Arial, Helvetica;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.download) {
	background-color: #111;
}

ul.topnav li a.download {
	background-color: #2196F3;
}

ul.topnav li.right {
	float: right;
}

.content {
	border-radius: 15px;
	padding: 20px;
	background: #f1f1f1;
}

.left_column {
	float: left;
	width: 20%;
}

.right_column {
	float: right;
	width: 75%;
	padding-left: 20px;
}

.profile_image {
	background-color: #aaa;
	width: 100px;
	padding: 20px;
	height: 100px;
}

.card {
	border-radius: 15px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.contact {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
  	padding: 20px;
  	text-align: center;
  	background: #333;
	color: white;
  	margin-top: 20px;
	clear: both;
}

ul.social_media {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.social_media li {
	float: left;
}

ul.social_media li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
	.left_column {
		width: 100%;
		padding: 0;
	}
	.right_column {
		width: 100%;
		padding: 0;
	}
	ul.social_media li {
		float: none;
	}
}